.mediaViewInfo {
	--web-view-name: page-access;
	--web-view-id: page-access;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: page-access;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#page-access {
	position: absolute;
	width: 1920px;
	height: 2380px;
	background-color: rgba(242,242,242,1);
	overflow: hidden;
	--web-view-name: page-access;
	--web-view-id: page-access;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#pageTitle {
	position: absolute;
	width: 974.531px;
	height: 207.034px;
	left: -14.531px;
	top: 250px;
	overflow: visible;
}
#n_55 {
	position: absolute;
	width: 974.531px;
	height: 200.131px;
	left: 0px;
	top: 6.903px;
	overflow: visible;
}
#n_54 {
	position: absolute;
	width: 974.531px;
	height: 200.131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text {
	left: 374.531px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(114,113,113,1);
}
#n_30 {
	fill: rgba(255,255,255,1);
}
.n_30 {
	position: absolute;
	overflow: visible;
	width: 1200px;
	height: 670px;
	left: 360px;
	top: 587px;
}
#n_52-0882_5322_ {
	left: 440px;
	top: 792px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(77,77,77,1);
}
#n_103 {
	fill: rgba(175,175,175,1);
}
.n_103 {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 500px;
	left: 960px;
	top: 672px;
}
#subTitle50pt727171 {
	position: absolute;
	width: 236px;
	height: 50px;
	left: 440px;
	top: 672px;
	overflow: visible;
}
#ADDRESS {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#text22pt595757 {
	position: absolute;
	width: 212px;
	height: 25px;
	left: 1104px;
	top: 910px;
	overflow: visible;
}
#Google_map {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#n_104 {
	fill: rgba(255,255,255,1);
}
.n_104 {
	position: absolute;
	overflow: visible;
	width: 1200px;
	height: 576px;
	left: 360px;
	top: 1387px;
}
#n____15__JR____25__28__ {
	left: 440px;
	top: 1592px;
	position: absolute;
	overflow: visible;
	width: 942px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(77,77,77,1);
}
#subTitle50pt727171_ {
	position: absolute;
	width: 196px;
	height: 50px;
	left: 440px;
	top: 1472px;
	overflow: visible;
}
#ACCESS {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#footer {
	position: absolute;
	width: 731px;
	height: 76px;
	left: 590px;
	top: 2263px;
	overflow: visible;
}
#footerMenu {
	position: absolute;
	width: 731px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757 {
	position: absolute;
	width: 178px;
	height: 18px;
	left: 365px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_privacy.html;
	cursor: pointer;
}
#Text_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_ {
	position: absolute;
	width: 126px;
	height: 18px;
	left: 0px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_donation.html;
	cursor: pointer;
}
#Text_ba {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_ba {
	position: absolute;
	width: 70px;
	height: 18px;
	left: 209px;
	top: 1px;
	overflow: visible;
}
#Text_bb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_bb {
	position: absolute;
	width: 108px;
	height: 18px;
	left: 623px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_contact.html;
	cursor: pointer;
}
#Text_bc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_16 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 151px;
	top: 0px;
	overflow: visible;
}
#n_8 {
	fill: rgba(255,156,13,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.617px;
	top: 15.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,156,13,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.86px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_bi {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_bj {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,156,13,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_bm {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25 {
	fill: transparent;
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_bq {
	fill: rgba(255,156,13,1);
}
.n_11_bq {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_18 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 304px;
	top: 0px;
	overflow: visible;
}
#n_17 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_20 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 565px;
	top: 0px;
	overflow: visible;
}
#n_19 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Copyright__2023___All_Rights_R {
	left: 115px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 502px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_192 {
	position: absolute;
	width: 1920px;
	height: 159px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_115 {
	fill: rgba(242,242,242,1);
}
.n_115 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 159px;
	left: 0px;
	top: 0px;
}
#header {
	position: absolute;
	width: 1818.5px;
	height: 108px;
	left: 47px;
	top: 33.985px;
	overflow: visible;
}
#n_186 {
	position: absolute;
	width: 127px;
	height: 108px;
	left: 1691.5px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_contact.html;
	cursor: pointer;
}
#n_23 {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 23px;
	top: 28px;
	overflow: visible;
}
#CONTACT_US {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_26 {
	position: absolute;
	width: 80px;
	height: 79.97px;
	left: 0px;
	top: 6.015px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: HOME.html;
	cursor: pointer;
}
#n_177 {
	position: absolute;
	width: 1024px;
	height: 36.592px;
	left: 114.5px;
	top: 36px;
	overflow: visible;
}
#text18pt595757_b {
	position: absolute;
	width: 125px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_b {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_about.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_16_b {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 150px;
	top: 0px;
	overflow: visible;
}
#n_8_b {
	fill: rgba(255,156,13,1);
}
.n_8_b {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.616px;
	top: 15.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_ca {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6_cb {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9_cc {
	fill: rgba(255,156,13,1);
}
.n_9_cc {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.86px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_cd {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_ce {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_cf {
	fill: rgba(255,156,13,1);
}
.n_10_cf {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_cg {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_ch {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25_ci {
	fill: transparent;
}
.n_25_ci {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_cj {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12_ck {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_cl {
	fill: rgba(255,156,13,1);
}
.n_11_cl {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15_cm {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14_cn {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_18_co {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 323px;
	top: 0px;
	overflow: visible;
}
#n_17_cp {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_20_cq {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 532px;
	top: 0px;
	overflow: visible;
}
#n_19_cr {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 741px;
	top: 0px;
	overflow: visible;
}
#n_21 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_164 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 894px;
	top: 0px;
	overflow: visible;
}
#n_8_cv {
	fill: rgba(255,156,13,1);
}
.n_8_cv {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.617px;
	top: 15.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_cw {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6_cx {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9_cy {
	fill: rgba(255,156,13,1);
}
.n_9_cy {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.86px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_cz {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_c {
	fill: rgba(255,156,13,1);
}
.n_10_c {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_da {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25_c {
	fill: transparent;
}
.n_25_c {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_da {
	fill: rgba(255,156,13,1);
}
.n_11_da {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757_da {
	position: absolute;
	width: 90px;
	height: 18px;
	left: 208px;
	top: 0px;
	overflow: visible;
}
#Text_db {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_committee.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dc {
	position: absolute;
	width: 126px;
	height: 18px;
	left: 381px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_group.html;
	cursor: pointer;
}
#Text_dd {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_de {
	position: absolute;
	width: 126px;
	height: 18px;
	left: 590px;
	top: 0px;
	overflow: visible;
}
#Text_df {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_donation.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dg {
	position: absolute;
	width: 70px;
	height: 18px;
	left: 799px;
	top: 0px;
	overflow: visible;
}
#Text_dj {
	left: 20px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_di {
	position: absolute;
	width: 90px;
	height: 36.592px;
	left: 779px;
	top: 0px;
	overflow: visible;
}
#Text_dj {
	left: 20px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_176 {
	position: absolute;
	width: 50px;
	height: 36.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_47 {
	position: absolute;
	width: 50px;
	height: 36.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757_dm {
	position: absolute;
	width: 72px;
	height: 18px;
	left: 952px;
	top: 0px;
	overflow: visible;
}
#Text_dn {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: single.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}