.mediaViewInfo {
	--web-view-name: page-group;
	--web-view-id: page-group;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: page-group;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#page-group {
	position: absolute;
	width: 1920px;
	height: 5355px;
	background-color: rgba(242,242,242,1);
	overflow: hidden;
	--web-view-name: page-group;
	--web-view-id: page-group;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#pageTitle {
	position: absolute;
	width: 974.531px;
	height: 207.034px;
	left: -14.531px;
	top: 250px;
	overflow: visible;
}
#n_55 {
	position: absolute;
	width: 974.531px;
	height: 200.131px;
	left: 0px;
	top: 6.903px;
	overflow: visible;
}
#n_54 {
	position: absolute;
	width: 974.531px;
	height: 200.131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text {
	left: 374.531px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(114,113,113,1);
}
#subTitle50pt727171 {
	position: absolute;
	width: 300px;
	height: 50px;
	left: 360px;
	top: 557px;
	overflow: visible;
}
#Text_t {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#footer {
	position: absolute;
	width: 731px;
	height: 76px;
	left: 595px;
	top: 5237px;
	overflow: visible;
}
#footerMenu {
	position: absolute;
	width: 731px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757 {
	position: absolute;
	width: 178px;
	height: 18px;
	left: 365px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_privacy.html;
	cursor: pointer;
}
#Text_x {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_y {
	position: absolute;
	width: 126px;
	height: 18px;
	left: 0px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_donation.html;
	cursor: pointer;
}
#Text_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_ {
	position: absolute;
	width: 70px;
	height: 18px;
	left: 209px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_access.html;
	cursor: pointer;
}
#Text_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_ba {
	position: absolute;
	width: 108px;
	height: 18px;
	left: 623px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_contact.html;
	cursor: pointer;
}
#Text_ba {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_16 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 151px;
	top: 0px;
	overflow: visible;
}
#n_8 {
	fill: rgba(255,156,13,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.617px;
	top: 15.275px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,156,13,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.859px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_ {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_ba {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,156,13,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_bd {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25 {
	fill: transparent;
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_bh {
	fill: rgba(255,156,13,1);
}
.n_11_bh {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_18 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 304px;
	top: 0px;
	overflow: visible;
}
#n_17 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_20 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 565px;
	top: 0px;
	overflow: visible;
}
#n_19 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Copyright__2023___All_Rights_R {
	left: 115px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 502px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text22pt595757 {
	position: absolute;
	width: 680px;
	height: 59px;
	left: 360px;
	top: 657px;
	overflow: visible;
}
#n_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 681px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(89,87,87,1);
}
#n_185 {
	position: absolute;
	width: 200px;
	height: 224.113px;
	left: 1360px;
	top: 494.943px;
	overflow: visible;
}
#n_184 {
	position: absolute;
	width: 200px;
	height: 224.113px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_106 {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 0px;
	top: 936.641px;
	overflow: visible;
}
#n_61 {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#subTitle50pt727171_bv {
	position: absolute;
	width: 910px;
	height: 50px;
	left: 650px;
	top: 916px;
	overflow: visible;
}
#n_3 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 911px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#text22pt595757_bx {
	position: absolute;
	width: 655px;
	height: 207px;
	left: 905px;
	top: 1066px;
	overflow: visible;
}
#n_02272333_____ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 656px;
	white-space: nowrap;
	text-align: right;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(89,87,87,1);
}
#subTitle50pt727171_bz {
	position: absolute;
	width: 350px;
	height: 50px;
	left: 360px;
	top: 1473px;
	overflow: visible;
}
#Text_b {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#n_155 {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 839.029px;
	top: 1491.067px;
	overflow: visible;
}
#n_61_b {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#subTitle50pt727171_b {
	position: absolute;
	width: 437px;
	height: 50px;
	left: 1123px;
	top: 2192px;
	overflow: visible;
}
#Text_ca {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 438px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(114,113,113,1);
}
#n_106_b {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 0px;
	top: 2212.641px;
	overflow: visible;
}
#n_61_ca {
	position: absolute;
	width: 1080.971px;
	height: 59.028px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_190 {
	position: absolute;
	width: 1920px;
	height: 159px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_115 {
	fill: rgba(242,242,242,1);
}
.n_115 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 159px;
	left: 0px;
	top: 0px;
}
#header {
	position: absolute;
	width: 1818.5px;
	height: 108px;
	left: 47px;
	top: 33.985px;
	overflow: visible;
}
#n_186 {
	position: absolute;
	width: 127px;
	height: 108px;
	left: 1691.5px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.6000000238418579s ease-out;
	--web-action-type: page;
	--web-action-target: page_contact.html;
	cursor: pointer;
}
#n_23 {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 23px;
	top: 28px;
	overflow: visible;
}
#CONTACT_US {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_26 {
	position: absolute;
	width: 80px;
	height: 79.97px;
	left: 0px;
	top: 6.015px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: HOME.html;
	cursor: pointer;
}
#n_177 {
	position: absolute;
	width: 1024px;
	height: 36.592px;
	left: 114.5px;
	top: 36px;
	overflow: visible;
}
#text18pt595757_cf {
	position: absolute;
	width: 125px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_cg {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_about.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_16_ch {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 150px;
	top: 0px;
	overflow: visible;
}
#n_8_ci {
	fill: rgba(255,156,13,1);
}
.n_8_ci {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.617px;
	top: 15.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_cj {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6_ck {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9_cl {
	fill: rgba(255,156,13,1);
}
.n_9_cl {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.86px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_cm {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_cn {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_co {
	fill: rgba(255,156,13,1);
}
.n_10_co {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_cp {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_cq {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25_cr {
	fill: transparent;
}
.n_25_cr {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_cs {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12_ct {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_cu {
	fill: rgba(255,156,13,1);
}
.n_11_cu {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15_cv {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14_cw {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_18_cx {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 323px;
	top: 0px;
	overflow: visible;
}
#n_17_cy {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_20_cz {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 532px;
	top: 0px;
	overflow: visible;
}
#n_19_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 741px;
	top: 0px;
	overflow: visible;
}
#n_21 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_164 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 894px;
	top: 0px;
	overflow: visible;
}
#n_8_c {
	fill: rgba(255,156,13,1);
}
.n_8_c {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 8.617px;
	top: 15.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6_c {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9_c {
	fill: rgba(255,156,13,1);
}
.n_9_c {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 1px;
	top: 9.86px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_da {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_da {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_da {
	fill: rgba(255,156,13,1);
}
.n_10_da {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 5.375px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_db {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_dc {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25_dd {
	fill: transparent;
}
.n_25_dd {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 12.941px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_de {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12_df {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_dg {
	fill: rgba(255,156,13,1);
}
.n_11_dg {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 15.438px;
	top: 10.368px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15_dh {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14_di {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757_dj {
	position: absolute;
	width: 90px;
	height: 18px;
	left: 208px;
	top: 0px;
	overflow: visible;
}
#Text_dk {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_committee.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dl {
	position: absolute;
	width: 146px;
	height: 36.592px;
	left: 361px;
	top: 0px;
	overflow: visible;
}
#Text_dm {
	left: 20px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#n_176 {
	position: absolute;
	width: 50px;
	height: 36.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_47 {
	position: absolute;
	width: 50px;
	height: 36.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text18pt595757_dp {
	position: absolute;
	width: 126px;
	height: 18px;
	left: 590px;
	top: 0px;
	overflow: visible;
}
#Text_dq {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_donation.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dt {
	position: absolute;
	width: 70px;
	height: 18px;
	left: 799px;
	top: 0px;
	overflow: visible;
}
#Text_du {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_access.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dt {
	position: absolute;
	width: 70px;
	height: 18px;
	left: 799px;
	top: 0px;
	overflow: visible;
}
#Text_du {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: page_access.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}
#text18pt595757_dv {
	position: absolute;
	width: 72px;
	height: 18px;
	left: 952px;
	top: 0px;
	overflow: visible;
}
#Text_dw {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: single.html;
	cursor: pointer;
	text-align: left;
	font-family: Tsukushi A Round Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(89,87,87,1);
}