.mediaViewInfo {
	--web-view-name: single;
	--web-view-id: single;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: single;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#single {
	position: absolute;
	width: 390px;
	height: 2351px;
	background-color: rgba(242,242,242,1);
	overflow: hidden;
	--web-view-name: single;
	--web-view-id: single;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}


/* 手書き始め */
body {
	line-height: 1.7;
}
/* 手書き終わり */


#n_217 {
	position: absolute;
	width: 349px;
	height: 62.333px;
	left: 0px;
	top: 159px;
	overflow: visible;
}
#n_216 {
	position: absolute;
	width: 299px;
	height: 62.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_215 {
	position: absolute;
	width: 299px;
	height: 62.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text {
	left: 229px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(114,113,113,1);
}
#n_3 {
	left: 45px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(114,113,113,1);
}
#n_43 {
	fill: transparent;
	stroke: rgba(77,77,77,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_43 {
	overflow: visible;
	position: absolute;
	width: 302px;
	height: 2px;
	left: 45px;
	top: 308px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0220210 {
	left: 290px;
	top: 279px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(77,77,77,1);
}
#n_021121______7_10__ {
	left: 45px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 1046px;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(77,77,77,1);
}
#n_126 {
	fill: rgba(72,198,200,1);
}
.n_126 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 560px;
	left: 45px;
	top: 1454px;
}
#n_165 {
	position: absolute;
	width: 177.559px;
	height: 20px;
	left: 106.221px;
	top: 1484px;
	overflow: visible;
}
#n_127 {
	fill: rgba(242,242,242,1);
}
.n_127 {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 466px;
	left: 70px;
	top: 1524px;
}
#n_232 {
	position: absolute;
	width: 166px;
	height: 406px;
	left: 101px;
	top: 1554px;
	overflow: visible;
}
#single_date {
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
.single_date > span {
	color: rgba(89,87,87,1);
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
}
#single_title {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
.single_title > a {
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
}
#n_0220127 {
	left: 0px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_ba {
	left: 0px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_0220113 {
	left: 0px;
	top: 102px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_bb {
	left: 0px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_0220111 {
	left: 0px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_bc {
	left: 0px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#Text_bd {
	left: 0px;
	top: 169px;
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 12px;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_0220110 {
	left: 0px;
	top: 186px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#n_022017 {
	left: 0px;
	top: 228px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_be {
	left: 0px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 12px;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_022011 {
	left: 0px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_bf {
	left: 0px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 12px;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_0220129_bf {
	left: 0px;
	top: 312px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_bg {
	left: 0px;
	top: 295px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#Text_bh {
	left: 0px;
	top: 337px;
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 12px;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_0220127_bi {
	left: 0px;
	top: 354px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#n_0220113_bj {
	left: 0px;
	top: 396px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#Text_bk {
	left: 0px;
	top: 379px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_24__10 {
	position: absolute;
	width: 279px;
	height: 179px;
	left: 56px;
	top: 2162px;
	overflow: visible;
}
#Copyright__2023___All_Rights_R {
	left: 0px;
	top: 162px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(89,87,87,1);
}
#n_201 {
	position: absolute;
	width: 118px;
	height: 132px;
	left: 80px;
	top: 0px;
	overflow: visible;
}
#headerMenu {
	position: absolute;
	width: 84px;
	height: 12px;
	left: 17px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: page_donation.html;
	cursor: pointer;
}
#Text_bp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_16 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 55px;
	top: 22px;
	overflow: visible;
}
#n_8 {
	fill: rgba(255,156,13,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 0.136px;
	height: 1.724px;
	left: 3.731px;
	top: 5.276px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,156,13,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 1.647px;
	height: 0.457px;
	left: 0.858px;
	top: 4.24px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_bv {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_8_bw {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,156,13,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 0.88px;
	height: 1.443px;
	left: 2.177px;
	top: 0.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10_bz {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25 {
	fill: transparent;
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 1.101px;
	height: 1.349px;
	left: 5.226px;
	top: 1.253px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_12 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_11_b {
	fill: rgba(255,156,13,1);
}
.n_11_b {
	overflow: visible;
	position: absolute;
	width: 1.562px;
	height: 0.61px;
	left: 5.296px;
	top: 4.406px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_14 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_b {
	left: 36px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: page_access.html;
	cursor: pointer;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_18 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 55px;
	top: 62px;
	overflow: visible;
}
#n_17 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_ca {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: page_privacy.html;
	cursor: pointer;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#n_20 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 55px;
	top: 102px;
	overflow: visible;
}
#n_19 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_cc {
	left: 23px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: page_contact.html;
	cursor: pointer;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(89,87,87,1);
}
#header {
	position: absolute;
	width: 390px;
	height: 110px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_119 {
	fill: rgba(242,242,242,1);
}
.n_119 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 110px;
	left: 0px;
	top: 0px;
}
#header_cf {
	position: absolute;
	width: 349.016px;
	height: 64px;
	left: 20.492px;
	top: 30px;
	overflow: visible;
}
#Logo {
	position: absolute;
	width: 50.019px;
	height: 50px;
	left: 0px;
	top: 7px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
#n_26 {
	position: absolute;
	width: 50.019px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
#n_233 {
	position: absolute;
	width: 154px;
	height: 42px;
	left: 68.032px;
	top: 11px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
#n_191 {
	position: absolute;
	width: 154px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_ck {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(137,137,137,1);
}
#Text_cl {
	left: 0px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(72,198,200,1);
}
#n_190 {
	position: absolute;
	width: 50px;
	height: 64px;
	left: 299.016px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: menu.html;
	cursor: pointer;
}
#n_189 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1 {
	fill: rgba(255,174,35,1);
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_188 {
	position: absolute;
	width: 21.5px;
	height: 12px;
	left: 14.553px;
	top: 19.576px;
	overflow: visible;
}
#n_44 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_44 {
	overflow: visible;
	position: absolute;
	width: 23.5px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_45 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_45 {
	overflow: visible;
	position: absolute;
	width: 23.5px;
	height: 2px;
	left: 0px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#n_46 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_46 {
	overflow: visible;
	position: absolute;
	width: 23.5px;
	height: 2px;
	left: 0px;
	top: 12px;
	transform: matrix(1,0,0,1,0,0);
}
#MENU {
	left: 9px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: fot-tsukuardgothic-std, ui-rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(137,137,137,1);
	letter-spacing: 2px;
}
a:link, a:visited, a:hover, a:active {
	color: rgba(89,87,87,1);
	text-decoration: none;
}